* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: #fafafa;
}
.app__headerImage {
  object-fit: contain;
  width: 90px;
  height: 90px;
  background-color: white;
}
.post__header {
  display: flex;
  align-items: center;
}
