* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: #fafafa;
}
.app__headerImage {
  object-fit: contain;
  width: 90px;
  height: 90px;
  background-color: white;
}
.post__header {
  display: flex;
  align-items: center;
}
.app__login {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid gray;
  object-fit: contain;
  align-items: center;
  justify-content: space-between;
}
.app__posts {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.post {
  width: 60% !important;
}
